<!DOCTYPE html>
<html>
<head>
  <title>Xappal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/homepage.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/footer.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/duDialog.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="icon" href="../images/xlogo.png">
<meta name="theme-color" content="#ff7e3d">
<meta name="msapplication-navbutton-color" content="#ff7e3d">
<meta name="apple-mobile-web-app-status-bar-style" content="#ff7e3d">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: Raleway;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-right: 0;
">


        <!-- <div>
          <div class="col-sm-7 col-md-7 col-sm-7 col-xs-7">
            </div>
          <div>
            <form action="/signbutton" method="POST"><button class="btn btn-primary btn-lg" style="border-radius: 32px">Sign up <i class="fa fa-user-plus"></i></button></form>
          </div>
          </div> -->

     <!--   <div class="row pad">
            <div class="content1">
        <div class="slider-wrapper">
          WE deliver to
          <div class="slider">
              <div class="slider-text1 shadow">IIT</div>
              <div class="slider-text2 shadow">NLU</div>
              <div class="slider-text3 shadow">FDDI</div>
              <div class="slider-text4 shadow">NIFT</div>
          </div>
        </div>
      </div>

      </div> -->


<div class="home" style="">

<nav class="navbar navbar-inverse" style="border: none;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="\home" style="color: white;font-weight:800;">Xappal</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="mailto:xappalcare@gmail.com" style="color: white;">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){%>
            <li><form action="/logbutton" method="POST"><button class="btn hbtn" style="border-radius: 32px;margin-top: 10px;margin-left: 10px;background-color: rgba(9, 5, 0, 0.6);
  color: white;">Log in <span><i class="fa fa-user"></i></span></button>
            </form></li>
            <li><form action="/signbutton" method="POST"><button class="btn hbtn" style="border-radius: 32px;margin-top: 10px;margin-left: 10px;background-color: rgba(9, 5, 0, 0.6);
  color: white;">Sign up <span><i class="fa fa-user-plus"></i></span></button>
            </form></li>
          <!-- <li><a href="/register" style="color: white;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login" style="color: white;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
          <%}else{%>

          <li><a href="/index" id="Sign" style="color: white;">Browse Restaurants</a></li>
          <li><a href="/logout" style="color: white;">Log out</a></li>
          <%}%>
          </ul>
      </div>
    </div>
  </nav>
  
<div class="welcome">
  <div>
    <img id="mainlogo" src="../images/mainlogo.png">
  </div>
  <h2>Discover Books you Love</h2>

</div>
<div class="row desc">
  <div class="col-lg-4 col-md-4 col-sm-12"></div>
 
  <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">

    <h3 style="padding-bottom: 5%"> We deliver to</h3> 

  	<h4 class="college">East Delhi</h4> 
    <h4 class="college">West Delhi</h4>
    <h4 class="college">Ghaziabad</h4>
    <h4 class="college">Faridabad</h4>

</div> <div class="col-lg-4 col-md-4 col-sm-12"></div>
</div>

  <div class="row vectorparent">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
        <img src="../images/burger_drink.svg" class="vector">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
        <img src="../images/pizza2.svg" class="vector">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
        <img src="../images/popcorn.svg" class="vector">
    </div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
        <img src="../images/fries.svg" class="vector">
    </div>

</div>
</div>

<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
        <a href="#"><img src="../images/mainlogo.png" width="200px"></a>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="\home">Home</a></li>
                        <li><a href="\register">Sign up</a></li>
                        <li><a href="\login">Log in</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    
 <button data-toggle="modal" data-target="#myModal" class="about"><h5>About Us</h5></button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content"  style="color: black">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About US</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                    <ul>
                        <li><a href="mailto:xappalcare@gmail.com">Email</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="tel:">Give a call</a></li>
                        
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a target="_blank" href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright </p>
        </div>
    </footer>

<script>
        // new duDialog('Alert Message', 'Login or Sign up to view Restaurants and Menu');
</script>
  <script src="../stylesheets/duDialog.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
