<!DOCTYPE html>
<html>
<head>
	<title>Verify OTP</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/login.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/util.css">
	<link rel="icon" href="../images/xlogo.png">
	<meta name="theme-color" content="#ff7e3d">
	<meta name="msapplication-navbutton-color" content="#ff7e3d">
	<meta name="apple-mobile-web-app-status-bar-style" content="#ff7e3d">
</head>
<body>
	<div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <form action="/confirmation" method="POST">
              <span class="login100-form-title p-b-48">
                <img src="../images/mainlogo_b.png" alt="" style="width: 250px">
              </span>
              <span class="login100-form-title p-b-26">
                Enter One Time Passowrd
              </span>
              <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                <input class="input100" type="text" placeholder="OTP" name="otp">
                <span class="focus-input100"></span>
              </div>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button class="login100-form-btn" type="submit">
                   Submit
                  </button>
                </form>
                </div>
              </div>
              <div class="text-center p-t-70">
                <span class="txt1">
                  Didn't get it? <strong>Check Spam Folder</strong>  
                </span>
              </div>

          </div>
        </div>
	</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<script src="popupS.js"></script>
</html>