<!DOCTYPE html>
<html>
<head>
	<title>Thanks for Ordering</title>
	<meta http-equiv="refresh" content="5;url=index"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/styleh.css">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="icon" href="../images/xlogo.png">
<meta name="theme-color" content="#A7F25C">
<meta name="msapplication-navbutton-color" content="#A7F25C">
<meta name="apple-mobile-web-app-status-bar-style" content="#A7F25C">

</head>
<body>
	<div class="container thanks">

		<div>
		<a href="#"><img class="mainlogo" src="../images/mainlogo.png" width="200px"></a>
		<h1>Thanks for Ordering</h1>
		<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
		<p>
			You will recieve an email with your order and delivery details shortly.
		</p>
		<div style="
			position: inherit;
			bottom: 1px;
		">
			Couldn't find it? <strong>Check spam</strong>
		</div>
		</div>

	</div>
</body>
</html>
