.nopad{
   padding: 0;
    float: left;
  }
  .dropdown-toggle::after{
  	background-color: white;
  }
  .btn .btn-primary .btn-lg .dropdown-toggle:active{
	background-color: white;
  }
.dropdown-toggle.btn-primary{
  border-radius: 32px; 
  background-color: #ff6016
}
.pad{
	padding: 10%;
}
.container1 {
  background-color: black;
  width: 100%;
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
}
hr{
  width: 800px;
  border-width: 1px;
  color: red;
  border-top: grey;
  border-bottom: white;
}
vl{
height: 70px;
}

@font-face {
  font-family: 'ralewayblack';
  src: url('../stylesheets/raleway-black-webfont.woff2') format('woff2'),
        url('../stylesheets/Raleway-Regular.ttf') format('truetype'),
       url('../stylesheets/raleway-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
h2 {
  color: blue;
  background-color: white;
  text-shadow: 3px;
  position: absolute;
  top: 15px;
  right: 245px;
  font-size: 25px;
  font-style: bold;
  border-radius: 20px;
  font-family: Raleway Black, Helvetica, sans-serif;
}
h4 {
  padding: 5%;
  font-size: 1.8em;
  color: #969696;
}
li {

  text-align: left;
}
a{
  font-size: 1em;
  text-decoration: none;
  color: #dbdbdb;
}
.section2{

  /*background-color: black;*/
  text-decoration-color: white;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.mainlogo{
                padding: 1%;
                border-radius: 50px; 
    
}
.thanks{
  background-image: linear-gradient(120deg,#a7f25c,#fb5726); 
  margin: 5%;
  text-align: center;
  padding: 5%;
  border-radius: 20px;
  min-height: 80%;
  max-height: 100%;
}